{% extends "layout.html" %}
{% block body%}

    <body>
        <h1>Register</h1>
        <h2>please fill information</h2>

        <form action="/register", method="POST">
            <div class="form-group">
              <label for="formGroupExampleInput">username</label>
              <input type="text" class="form-control" name="username" id="formGroupExampleInput" placeholder="username">
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput2">password</label>
              <input type="text" class="form-control" name="password" id="formGroupExampleInput2" placeholder="password">
            </div>
            <input type="submit">
        </form>
    </body>

{% endblock%}