.center {
  width: 650px;;
  margin: auto;
  margin-top: 20px;
  border: 5px solid red;
  background-color: rgb(247, 203, 109);
  padding: 5px;
  text-align: center;  
}

.font_item {
    font-size: large;
    color : green;
    margin-left: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1000;
    
}

/* สำหรับทำให้ช่องด้านซ้ายห่างจากขอบ 50px */ 
.twenty_left {
    border: 50px;
    border : solid blue;
    border-radius: 10px;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    color : red;
    margin-left: 50px;
    margin-right: 1105px;
    font-size: x-large;
    font-weight : 2000;
}

.back {
    background-image: url("cloud.jpg");
    background-attachment: scroll;
    opacity: 0.1;
}

a{
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    color : green
}